<!DOCTYPE html>
<html>
  <head>
    <title>Pixelperfect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/36bc3104c6.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/ZiV07h-rXDAl5PSYvcL2-XhoGotL-U1TKEgApFCRWcKVa7ieFr7K6m-dzfMMsrolFcNFlLXKU33I-L2L46gSJTxYy5zaBMqr3OJYiPtETHlMqV0d2Xn1lHiCCFs9dcm5ZA"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
